apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: products.changelog
  labels:
    strimzi.io/cluster: my-cluster
spec:
  partitions: 1
  replicas: 1
  config:
    cleanup.policy: compact
    min.cleanable.dirty.ratio: "0.5"
    segment.ms: "600000"
